apiVersion: v1
kind: ConfigMap
metadata:
  name: fuse-config
  namespace: {{ include "fuse-cache.namespace" . }}
data:
  COORDINATOR_ADDR: {{ .Values.config.coordinatorAddr | quote }}
  COORDINATOR_GRPC_ADDR: {{ .Values.config.coordinatorGrpcAddr | quote }}
  NVME_CACHE_PATH: {{ .Values.config.nvmeCachePath | quote }}
  FUSE_MOUNT_PATH: {{ .Values.config.fuseMountPath | quote }}
  CHUNK_SIZE_MB: {{ .Values.config.chunkSizeMB | quote }}
